@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: #0FC3D8;     
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #EF577C;
    border-radius: 10px;
   
  }

  